@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: radial-gradient(blue, aqua, blue);
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #042053;
}

h1 {
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 2.2rem;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}

#skill-container{
    position: relative;
    max-width: 70rem;
    width: 100%;
    background: #fff;
    border-radius: 0.625rem;
    margin: 0 .9375rem;
    padding: 1.56rem 2.5rem;
}

#skill-container #skill-box {
    width: 100%;
    margin: 1.56rem 0;    
}

#skill-box #skill {
    display: block;
    font-size: 1.25rem;
    font-weight: 800;
    color: #1663f1;
    text-decoration: underline;
}

#skill-box .slider-container {
    height: 0.5rem;
    width: 100%;
    border-radius: 0.38rem;
    margin-top: 0.38rem;
    background-color: #f1ecec;
}

.slider-container .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 0.38rem;
    background: linear-gradient(90deg,#1663f1, 40%, aqua);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}


.skill-per.javascript{
    width: 85%;
    animation-delay: 0.1s;
}

.skill-per.reactjs{
    width: 55%;
    animation-delay: 0.1s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -1.2rem;
    top: -2.4rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 0.12rem 0.38rem;
    border-radius: 0.18rem;
    background: #1663f1;
    z-index: 1;
}

.tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.15rem;
    height: 0.6rem;
    width: 0.6rem;
    z-index: -1;
    background: #1663f1;
    transform: translateX(-40%) rotate(45deg);
}

.skill-per.html::before, .skill-per.css::before, .skill-per.skill-per.javascript::before, .skill-per.reactjs::before {
    background-image: url("https://cdn.dribbble.com/users/113499/screenshots/15925733/media/b48c0981534e3a66d2f3104d31146fa0.png?resize=400x0");
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 98%;
    top: -0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}


.comment{
    background: linear-gradient(30deg,#042053, 20%, #1663f1, 80%, #f1ecec); 
    border-radius: 4px;
    color: #fff;
    max-width: 100%;
    margin: 0.6rem 0;
    padding-left: 0.3rem;
}

.comment.html {
    width: 13rem;
}

.comment.css {
    width: 12.5rem;
}

.comment.javascript {
    width: 16rem;
}

.comment.reactjs {
    width: 12rem;
}

.footer {
    text-align: center;
    font-size: .95rem;
    font-family: cursive;
}

#clock-html{
    background: linear-gradient(5deg,#b60a04, 30%, #ffa826, 80%, #f0e11b); 
    width: 33rem;
}

#clock-css{
    background: linear-gradient(5deg,#073b07, 30%, #24a71f, 80%, #b1e074); 
    width: 32rem;
}

#clock-javascript{
    background: linear-gradient(5deg,#b60a04, 30%, #ffa826, 80%, #f0e11b); 
    width: 33rem;
}

#clock-reactjs{
    background: linear-gradient(5deg,#073b07, 30%, #24a71f, 80%, #b1e074); 
    width: 32rem;
}